body {
  padding: 0;
  margin: 0;
  /* background-color: #fff; */
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  padding: 0;
  margin: 0;
}

.top-container {
  background-image: url("./images/hero-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-position: top left; */
  /* display: block;
  width: 100%;
  height: 100%; */
}

.stats-container {
  padding: 250px 0px 150px 0px;
}

.why-us-content-container {
  max-width: 415px;
}

.bottom-container-main {
  margin-top: -50px;
  background: #fff;
  border-radius: 55px;
}

.why-us-main-container {
  padding: 100px 80px;
}

.hero-main-container {
  padding: 50px 80px;
}

.cards-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.download-options img {
  width: 135px;
}

.simple-form-container {
  background-image: url("./images/form-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.unique-card {
  background-image: url("./images/cards/card-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .top-container {
    background-size: cover;
  }
  .button-container img {
    display: none;
  }

  .hero-container {
    align-items: flex-start;
    padding: 0;
  }

  .hero-main-container,
  .stats-container,
  .why-us-main-container,
  .card-main-wrapper,
  .features-main-container,
  .form-container {
    padding: 35px 25px !important;
  }

  .hero-content .heading span,
  .stats-count span,
  .cards-heading span,
  .form-heading span,
  .why-us-content .heading span,
  .feature-heading span {
    font-size: 18px;
  }

  .option-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .option-text {
    text-align: center;
  }

  .stats-container {
    flex-direction: column;
    gap: 25px;
  }

  .features-container {
    gap: 50px;
  }

  .features-card-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .features-card-main-container,
  .features-card-container,
  .features-card-container .wrapper,
  .card-container {
    width: 100% !important;
  }

  .bottom-container-main {
    margin-top: -35px;
    background: #fff;
    border-radius: 25px;
  }

  /* .features-card-container .card-container {
    justify-content: center;
    align-items: center;
  } */

  .why-us-container,
  .cards-wrapper,
  .form-container,
  .features-container,
  .fields-container,
  .fields-container .fields {
    flex-direction: column;
  }

  .simple-form,
  .fields input,
  .features-description {
    width: 100%;
  }

  .simple-form-main-container {
    padding: 35px 0;
  }

  .footer-main-container {
    padding: 35px 25px 0 25px !important;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-links .links {
    align-items: flex-start;
  }

  .button-container {
    display: none !important;
  }

  #navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
  }

  /* .cards-wrapper .card {
    width: 100%;
    height: auto;
  } */
}
